body{
margin:0;
font-family:Arial;
background:#eaeded;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#131921;
color:white;
}

.logo{
font-size:32px;
font-weight:bold;
color:#ff9900;
}

.search{
width:40%;
padding:12px;
border:none;
border-radius:5px;
}

nav a{
color:white;
text-decoration:none;
margin:0 10px;
}

.hero{
background:#232f3e;
color:white;
text-align:center;
padding:80px 20px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.old-price{
text-decoration:line-through;
color:gray;
}

.price{
font-size:22px;
color:#B12704;
margin:10px 0;
font-weight:bold;
}

.category{
background:#232f3e;
color:white;
padding:5px 10px;
border-radius:5px;
display:inline-block;
margin-bottom:10px;
}

button{
width:100%;
padding:12px;
border:none;
background:#ffd814;
border-radius:8px;
font-weight:bold;
cursor:pointer;
margin-top:10px;
}

input,
select{
width:100%;
padding:12px;
margin-top:10px;
}

.login-box,
.admin-container{
width:90%;
max-width:600px;
margin:50px auto;
background:white;
padding:30px;
border-radius:10px;
}